html, body {
  max-height: 100vh;
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow: hidden;
}
body {
  max-height: 100vh;
}
header {
  display: none;
}
#topTabs a {
  color: white;
}
.card {
  max-height: 50vh;
}
#newsCard .card-body {
  overflow-y: scroll;
}
